@charset "UTF-8";

@font-face{
    font-family: 'destaque';
    src: url('/fonts/Mermaid\ Swash\ Caps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url ('https://fonts.googleapis.com/css2? família=Bebas+Neue&family=Bungee&family=Cabine:ital,wght@0.400;0.500;0.600;0.700;1,1,0400;1.500;1.600;1.700&family=Cinzel:wght@600;700;900&family=Italianno&display=swap');

:root{
    --cor0: #e8eaf0;
    --cor1: #41547f;
    --cor2: #919db7;
    --cor3: #ffebc3;
    --cor4: #9e8a62;
    --cor5: #f3b645;
    --cor6: #919db771;
    --cor7: #2C3532;
    --cor8: #0F6466;
    --cor9: #D8B08C;
    --cor10: #FFCB9A;
    --cor11: #D2E8E3;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Mermaid', cursiva;
    --fonte-destaque2: 'Cabin', cursiva;
}
.{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    font-family: var(--fonte-padrao);
    background-color: var(--cor0)
}
header{
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor9), var(--cor10));
    padding-top: 40px;
    box-shadow: 1px 1px 2px 1.5px rgba(0, 0, 0, 0.616);
}
h1#marca{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    font-weight: bolder;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    background-color: var(--cor7);
    position: relative;
}
#logo{
    position: absolute;
    top: 10%;
    left: 60%;
}
nav > p{
    display: none;
}
nav{
    margin-top: 40px;
    background-color: var(--cor10);
    text-align: right;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.404);
    position: relative;
}
nav > a{
    padding: 0px 15px;
    text-decoration: none;
    color: var(--cor7);
    font-weight: bolder;
    border-radius: 5px;
}
nav > a:hover{
    color: var(--cor4);
    text-decoration: underline;
    transition-duration: 0.7s;
}
div#redes{
    position: absolute;
    top: 38%;
    left: 75%;
    min-width: 200px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
}
main > picture{
    width: 100%;
    
}
article h1{
    background-color: var(--cor7);
    padding: 5px;
    font-family: var(--fonte-destaque2);
    font-size: 2em;
    font-weight: lighter;
    color: var(--cor11);
}
article > p{
    text-align: justify;
    text-indent: 15px;
    font-weight: lighter;
    line-height: 2em;
}
.noticia{
    background-image: linear-gradient(to bottom, white, var(--cor11));
    padding-top: 50px;
}
.noticia h2{
    text-align: center;
    font-size: 2em;
    padding: 10px 10px 0px 10px;
    font-weight: normal;
    color: var(--cor1);
}
.noticia h3{
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    color: var(--cor1);
}
.noticia h4{
    text-align: right;
    font-size: 0.7em;
    
}
.noticia img{
    display:block;
    margin: auto;
}
.noticia p{
    text-align: justify;
    text-shadow: 1px 1px 1px 8px rgba(0, 0, 0, 0.267);
    text-indent: 20px;
    padding: 10px 10px 5px 10px;
}
button a{
    text-decoration: none;
}

.artigo{
    background: url('../imagens/ekklesia900.jpg') center bottom no-repeat fixed;
    background-size: cover;
}
.artigo > p{
    max-width: 400px;
    display: block;
    padding: 10px;
    background-color: var(--cor6);
    text-shadow: 1px 1px 1px black;
    color: white;
    
}
.artigo p a{
    color: white;
    font-weight: bolder;
}
.artigo h2{
    color: white;
}
.artigo h2 a{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bolder;
}
.artigo h2 a:hover{
    text-decoration: underline;
    background-color: var(--cor1);
    color: var(--cor0);
    transition: 0.6s;
}
.artigo strong{
    color: yellow;
}