@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700&family=Suez+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #0E0C4D;
    --cor2: #C7C7D4;
    --cor3: #2621CC;
    --cor4: #474652;
    --cor5: #748bad;

    --fontepadrão: 'Cairo', sans-serif;
    --fontetitulo: 'Suez One', serif;

}
@media screen and (min-width: 769px) and (max-width: 1024px){
main{
    width: 100vw;
    margin: auto;
    background: url(../imagens/jangada900.jpg) no-repeat right center;
    background-size: cover;
    background-attachment: fixed;
}
section#noticia{
    width: 560px;
    background-color: white;
    padding: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
    margin: auto;
    line-height: 2.5em;
}
section#noticia img{
    display: block;
    margin: auto;
}
section h1{
    background-color: var(--cor2);
    color: var(--cor1)
    font-family: var(--cor1);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.541);
    padding: 8px;
}
section#videos{
    width: 560px;
    background-color: white;
    padding: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
    margin: auto;
}
#videos iframe{
    margin: auto;
}
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
    main{
        width: 100vw;
        margin: auto;
        background: url(../imagens/jangada900.jpg) no-repeat right center;
        background-size: cover;
        background-attachment: fixed;
    }
    section#noticia{
        width: 800px;
        background-color: white;
        padding: 8px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
        margin: auto;
        line-height: 2.5em;
    }
    section#noticia img{
        display: block;
        margin: auto;
    }
    section h1{
        background-color: var(--cor2);
        color: var(--cor1)
        font-family: var(--cor1);
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.541);
        padding: 8px;
    }
    section#videos{
        width: 800px;
        background-color: white;
        padding: 8px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
        margin: auto;
    }
    #videos iframe{
        margin: auto;
    } 
}